.MixtapeDetail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MixtapeDetailInner {
  width: 600px;
  text-align: center;
  margin-top: 60px;
}

.MixtapeTitle {
  font-size: 2.2rem;
  font-family: 'Kalam', cursive;
  padding: 20px 40px;
  text-align: center;
  background-color: rgba(0,0,0,.2);
  font-weight: 300;
}

.MixtapeRecipient {
  font-size: 1.8rem;
  margin: 20px 0;
  font-family: 'Rock Salt', cursive;
}

.MixtapeNote {
  font-family: 'Caveat', cursive;
  padding: 20px;
  color: rgba(0,0,0,.8);
  font-size: 1.6rem;
  background-image: url(https://st2.depositphotos.com/4681751/6993/v/600/depositphotos_69937611-stock-illustration-yellow-lined-paper.jpg);
}

.MixtapeItems {
  text-align: left;
}

.MixtapeItems li { 
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 14px;
  text-transform: uppercase;
  font-size: .8rem;
}

iframe {
  margin: 40px auto;
}


.Ursa-Major {
  background-color: rgb(235, 0, 176);
}

.Ursa-Major .MixtapeTitle {
  background-color: yellow;
}

.Ursa-Major .title {
  color: rgb(255, 255, 255);
  background-color:rgb(235, 0, 176);
}

.Ophiuchus {
  background-color: rgb(134, 207, 91);
}

.Ophiuchus .MixtapeTitle {
  background-color: rgb(17, 15, 15);
}

.Ophiuchus .title {
  color: rgb(255, 255, 255);
  background-color:rgb(134, 207, 91);
}

.Jupiter {
  background-color: rgb(218, 45, 83);
}

.Jupiter .MixtapeTitle {
  background-color: whitesmoke;
}

.Jupiter .title {
  color: black;
  background-color:rgb(218, 45, 83);
}

.Pleiades {
  background-color: rgb(61, 204, 240);
}

.Pleiades .MixtapeTitle {
  background-color: rgb(26, 25, 25)
}

.Pleiades .title {
  color: black;
  background-color:antiquewhite;
}

.Ceti-Alpha-5 {
  background-color: rgb(24, 23, 23);
}

.Ceti-Alpha-5 .MixtapeTitle {
  background-color: rgb(189, 45, 45);
}

.Ceti-Alpha-5 .title {
  color: white;
  background-color:rgb(153, 148, 148);
}

.Zeta-Reticuli {
  background-color: antiquewhite;
}

.Zeta-Reticuli .MixtapeTitle {
  background-color: rgb(189, 41, 41);
}

.Zeta-Reticuli .title {
  color: white;
  background-color:rgb(54, 54, 54);
}

.Shai-Hulud {
  background-color: rgb(34, 33, 33);
}

.Shai-Hulud .MixtapeTitle {
  background-color: rgb(252, 192, 42);
}

.Shai-Hulud .title {
  color: rgb(34, 33, 33);
  background-color:antiquewhite
}

.Stardust {
  background-color: antiquewhite;
}

.Stardust .MixtapeTitle {
  background-color: rgb(140, 243, 108);
}

.Stardust .title {
  color: rgb(34, 33, 33);
  background-color:rgb(197, 63, 63);
}

.Omega {
  background-color: rgb(248, 230, 71);
  
}

.Omega .MixtapeTitle {
  background-color: antiquewhite;
}

.Omega .title {
  color: rgb(34, 33, 33);
  background-color:rgb(176, 239, 255);
  
}

.Vulpecula
 {
  background-color: antiquewhite;
  
}

.Vulpecula
 .MixtapeTitle {
  background-color: rgb(131, 98, 14);
}

.Vulpecula
 .title {
  color: rgb(34, 33, 33);
  background-color:antiquewhite;
  
}