.MixtapeDetail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MixtapeDetailInner {
  width: 600px;
  text-align: center;
  margin-top: 60px;
}

.MixtapeTitle {
  font-size: 2.2rem;
  font-family: 'Kalam', cursive;
  padding: 10px;
  text-align: center;
  background-color: rgba(0,0,0,.2);
  font-weight: 300;
  box-shadow: 15px 15px 0px 0px rgb(0 0 0 / 30%);
}

.MixtapeRecipient {
  font-size: 1.8rem;
  margin: 20px 0;
  font-family: 'Rock Salt', cursive;
}

.MixtapeNote {
  font-family: 'Kalam', cursive;
  padding: 40px 20px;
  color: rgba(0,0,0,.8);
  font-size: 1.6rem;
  background-image: url(https://st2.depositphotos.com/4681751/6993/v/600/depositphotos_69937611-stock-illustration-yellow-lined-paper.jpg);
  box-shadow: 15px 15px 0px 0px rgb(0 0 0 / 30%);
  margin: 30px 0;
}

.MixtapeNote p { 
  line-height: 1.6;
  padding: 40px;
  font-weight: bold;
  text-align: left;
}

.MixtapeItems {
  text-align: left;
  color: rgba(0,0,0,.8);
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 50px;
}

.MixtapeItems li { 
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 14px;
  text-transform: uppercase;
  font-size: .8rem;
}

iframe {
  margin: 40px auto;
  box-shadow: 15px 15px 0px 0px rgb(0 0 0 / 30%);
}

.MixtapeDetail .title {
  padding: 10px;
  font-weight: bold;
}




.MixtapeDetail.Ursa-Major {
  background-color: rgb(235, 0, 176);
}

.MixtapeDetail.Ursa-Major .MixtapeTitle {
  background-color: yellow;
}

.MixtapeDetail.Ursa-Major .title {
  color: rgb(255, 255, 255);
  background-color:rgb(235, 0, 176);
}

.MixtapeDetail.Ophiuchus {
  background-color: rgb(134, 207, 91);
}

.MixtapeDetail.Ophiuchus .MixtapeTitle {
  background-color: rgb(17, 15, 15);
}

.MixtapeDetail.Ophiuchus .title {
  color: rgb(255, 255, 255);
  background-color:rgb(134, 207, 91);
}

.MixtapeDetail.Jupiter {
  background-color: rgb(218, 45, 83);
}

.MixtapeDetail.Jupiter .MixtapeTitle {
  background-color: whitesmoke;
}

.MixtapeDetail.Jupiter .title {
  color: black;
  background-color:rgb(218, 45, 83);
}

.MixtapeDetail.Pleiades {
  background: rgb(61,204,240);
  background: linear-gradient(75deg, rgba(61,204,240,1) 15%, rgba(149,120,255,1) 67%, rgba(250,235,215,1) 100%);
}

.MixtapeDetail.Pleiades .MixtapeTitle {
  background-color: rgb(26, 25, 25)
}

.MixtapeDetail.Pleiades .title {
  color: black;
  background-color:antiquewhite;
}

.MixtapeDetail.Ceti-Alpha-5 {
  background-color: rgb(24, 23, 23);
}

.MixtapeDetail.Ceti-Alpha-5 .MixtapeTitle {
  background-color: rgb(189, 45, 45);
}

.MixtapeDetail.Ceti-Alpha-5 .title {
  color: white;
  background-color:rgb(153, 148, 148);
}

.MixtapeDetail.Zeta-Reticuli {
  background-color: antiquewhite;
}

.MixtapeDetail.Zeta-Reticuli .MixtapeTitle {
  background-color: rgb(189, 41, 41);
}

.MixtapeDetail.Zeta-Reticuli .title {
  color: white;
  background-color:rgb(54, 54, 54);
}

.MixtapeDetail.Shai-Hulud {
  background-color: rgb(34, 33, 33);
}

.MixtapeDetail.Shai-Hulud .MixtapeTitle {
  background-color: rgb(252, 192, 42);
}

.MixtapeDetail.Shai-Hulud .title {
  color: rgb(34, 33, 33);
  background-color:antiquewhite
}

.MixtapeDetail.Stardust {
  background-color: antiquewhite;
}

.MixtapeDetail.Stardust .MixtapeTitle {
  background-color: rgb(140, 243, 108);
}

.MixtapeDetail.Stardust .title {
  color: rgb(34, 33, 33);
  background-color:rgb(197, 63, 63);
}

.MixtapeDetail.Omega {
  background-color: rgb(248, 230, 71);
  
}

.MixtapeDetail.Omega .MixtapeTitle {
  background-color: antiquewhite;
}

.MixtapeDetail.Omega .title {
  color: rgb(34, 33, 33);
  background-color:rgb(176, 239, 255);
  
}

.MixtapeDetail.Vulpecula
 {
  background-color: antiquewhite;
  
}

.MixtapeDetail.Vulpecula
 .MixtapeTitle {
  background-color: rgb(131, 98, 14);
}

.MixtapeDetail.Vulpecula
 .title {
  color: rgb(34, 33, 33);
  background-color:antiquewhite;
  
}