.ProfilePage {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 60px;
}

.ProfilePage h1 {
  margin: 40px 0;
}

.ProfilePage #createPlaylist {
  display: block;
  padding: 15px 45px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-weight: bold;
  margin: 50px auto;
  background: #009088;
  color: white;
  border-bottom: 6px solid #005c57;
  font-size: 1.2rem;
}

.ProfilePage #createPlaylist:hover {
  background-color: #005c57;
  border-color: #004340;
}

.ProfilePage p {
  text-align: center;
  margin-bottom: 40px;
}

.ProfilePage span {
  margin: 20px 0;
}

.ProfilePage .Search {
  display: grid;
  grid-template-columns: 1fr 100px;
  margin-bottom: 30px;
}

#MyMixtapes li {
  margin: 19px 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding-bottom: 20px;
}

#MyMixtapes li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

#MyMixtapes li a span {
  margin: 5px;
}

.ProfilePage h2 {
  margin-top: 40px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding-bottom: 10px;
  font-weight: bold;
}

.ProfilePage input {
  border: 0;
  outline: 0;
  background-color: #fad835;
  padding: 10px 10px;
  font-size: 1rem;
}

#yt-search-button {
  background: #fb4264;
  border: 0;
  outline: 0;
  color: white;
  font-size: 1rem;
}

#yt-search-button:hover {
  background-color: #c22240;
}

#yt-playlist-button {
  cursor: pointer;
  color: #429dff;
  text-align: center;
}

#yt-playlist-button:hover {
  color: #f52789;
}

.ProfilePage .Slacker {
  text-align: center;
}