.App {
  height: 100vh;
  display: grid;
}

main {
  background: #222;
  color:antiquewhite;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #222;
}


.container .neon {
  font-family: 'Permanent Marker', cursive;
  color: #FB4264;
  font-size: 2.6rem;
  text-shadow: 0 0 3vw #F40A35;
  padding: 2px;
}



