.About h1 {
    
    padding: 20px;
}

.About h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding: 15px;
}

.About .portraits {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center top;
}

.About p {
    font-family: 'Rock Salt', cursive;
    font-size: 12px;
    padding: 12px;
    text-align: center;
    width: 200px;
}

.About .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.About .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px, 5px, 0px, 5px;
}

.About .border {
    display: flex;
    border: 7px solid #2dfcb7;
    position: relative;
    animation: border 2s ease infinite;
  -moz-animation: border 2s ease infinite;
  -webkit-animation: border 2s ease infinite;
  box-shadow:
    inset 0 0 0 4px #33ebad,
    inset 0 0 0 8px #2dc793,
    inset 0 0 0 12px #26a77c,
    inset 0 0 0 16px #218f6a,
    inset 0 0 0 20px #18684d,
    inset 0 0 0 20px #114936,
    inset 0 0 0 20px #0a2b20,
    10px 10px 0px 0px #26a77c, 20px 20px 0px #18684d, 30px 30px 0px #0a2b20;

}

.About .border:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
  }
  


@keyframes border {
    0%,
    100% {
      border: 0 0 1vw #e900ff, 0 0 3vw #e900ff, 0 0 10vw #e900ff, 0 0 10vw #e900ff, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #faeb2c;
    }
    50% {
      border: 0 0 .5vw #1685f8, 0 0 1.5vw #1685f8, 0 0 5vw #1685f8, 0 0 5vw #1685f8, 0 0 .2vw #1685f8, .5vw .5vw .1vw #40340A;
      color: 	#f52789;
    }
  } 