.AuthPage {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient( #e92efb, #ff2079, #440bde, #04005e); */
  background-color: #222;
}

.AuthPage h1 .neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
  font-size: 4.6rem;
  margin: 60px;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #e900ff, 0 0 3vw #e900ff, 0 0 10vw #e900ff, 0 0 10vw #e900ff, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #faeb2c;
  }
  50% {
    text-shadow: 0 0 .5vw #1685f8, 0 0 1.5vw #1685f8, 0 0 5vw #1685f8, 0 0 5vw #1685f8, 0 0 .2vw #1685f8, .5vw .5vw .1vw #40340A;
    color: 	#f52789;
  }
} 

.AuthPage form {
  text-align: right;
}

.AuthPage input {
  padding: 5px 10px;
  margin: 0 0 20px 15px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  background-color: #fad835;
}

.AuthPage label {
  text-transform: uppercase;
  font-size: .8rem;
  color: #f52789;
  font-weight: 600;
  letter-spacing: 3px;
}

.AuthPage button {
  display: block;
  padding: 15px 45px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-weight: bold;
  margin: 20px auto;
  background: #009088;
  color: white;
  border-bottom: 6px solid #005c57;
}

.AuthPage button:hover {
  background-color: #005c57;
  border-color: #004340;
}

.AuthPage .switch {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

.AuthPage .switch:hover {
  color: #f52789;
}

.Error {
  color: #ee2222;
  text-align: center;
  margin-top: 20px;
}